rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Helper Functions
    function isAuthenticated() {
      return request.auth != null;
    }
    
    function isValidItinerary(data) {
      return data.days is list;
    }

    function isAdmin() {
      return isAuthenticated() && request.auth.token.email == "ianyy93@gmail.com";
    }

    match /trips/main {
      // Allow anyone to view the itinerary, but only authenticated users can edit
      allow read: if true;
      allow write: if isAdmin() && isValidItinerary(request.resource.data);
    }
    
    match /users/{userId} {
      allow read, write: if request.auth.uid == userId;
    }
  }
}
